@model Spaghetti.Models.Learner

@{
    ViewData["Title"] = "Details";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info" role="alert">
        @ViewBag.Message
    </div>
}
<div>
    <h4>Learner Profile</h4>
    <hr />
    <div class="text-center mb-3">
        <img src="@(@Model.ProfilePicture ?? "/uploads/default.jpg")" alt="Profile Picture" 
             style="width: 150px; height: 150px; border-radius: 50%; border: 1px solid #ddd;" />
    </div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CulturalBackground)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CulturalBackground)
        </dd>
    </dl>
</div>
