@model Spaghetti.Models.Learner

<div>
    <h2>Profile Details</h2>
    <p><strong>First Name:</strong> @Model.FirstName</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
    <p><strong>Gender:</strong> @Model.Gender</p>
    <p><strong>Birthdate:</strong> @Model.BirthDate.ToString("d")</p>
    <p><strong>Country:</strong> @Model.Country</p>
    <p><strong>Country Background:</strong> @Model.CulturalBackground</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>